*.a
*.o
*.so
*.pyc

*.ll
*.bc

__pycache__/
.vscode/

*.csv
*.ldb
*log

*.eps
*.pdf

!benchmarks/overhead/ci_published.csv

figures/fig2/fig2
figures/fig2/fig2.png
figures/fig2/fig2.d
figures/fig2/fig2.o
figures/fig2/log.txt
figures/fig2/fig2.txt

*.out
.clang-format